In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Data.csv')

In [3]:
df

         AT      V       AP     RH      PE
0     14.96  41.76  1024.07  73.17  463.26
1     25.18  62.96  1020.04  59.08  444.37
2      5.11  39.40  1012.16  92.14  488.56
3     20.86  57.32  1010.24  76.64  446.48
4     10.82  37.50  1009.23  96.62  473.90
...     ...    ...      ...    ...     ...
9563  16.65  49.69  1014.01  91.00  460.03
9564  13.19  39.18  1023.67  66.78  469.62
9565  31.32  74.33  1012.92  36.48  429.57
9566  24.48  69.45  1013.86  62.39  435.74
9567  21.60  62.52  1017.23  67.87  453.28

[9568 rows x 5 columns]

In [4]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values    #Till here same for Multi,Poly,Support Vector

In [5]:
y = y.reshape(len(y),1) #For Support Vector Machine

In [6]:
X

array([[  14.96,   41.76, 1024.07,   73.17],
       [  25.18,   62.96, 1020.04,   59.08],
       [   5.11,   39.4 , 1012.16,   92.14],
       ...,
       [  31.32,   74.33, 1012.92,   36.48],
       [  24.48,   69.45, 1013.86,   62.39],
       [  21.6 ,   62.52, 1017.23,   67.87]])

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train,y_train,X_test,y_test = train_test_split(X,y,test_size = 1,shuffle = 'True')

#Not for Decision Tree and Random Forest Regression

In [9]:
from sklearn.preprocessing import StandardScaler  #Important for SVR

scaler = StandardScaler()

X_scaled = scaler.fit_transform(X_train)
y_scaled =scaler.fit_transform(y_train)

In [ ]:
from sklearn.metrics import r2_score

r2_score(y,y_pred)        #To compare different regression models.